**/__pycache__/
/src/NepTrainKit.egg-info/
/build
/dist
/docs/build
.idea/
/src/NepTrainKit/?.py
/src/NepTrainKit/Log/*.log
.pytest_cache/
tests/_sandbox_tmp/
tests/_localappdata/
tests/_tmp/
tests/_pytest_cache/
tests/_pytest_tmp/
tests/pytest-cache-files-*/
/.tmp_localappdata/
